html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: helvetica, sans-serif;
}

body {
  background-color: rgb(230,230,230);
  padding: 0;
  margin: 0;
  height: 100%;
  color: #444;
}

div {
  box-sizing: border-box;
}

h1 {
  /*font-family: georgia, serif;*/
  font-style: italic;
  font-size: 24px;
  /*font-weight: 300;*/
  margin: 10px 0 10px;
}

.node {
  stroke: rgb(230,230,230);
  stroke-width: 1px;
}

.node:hover {
  stroke-width: 3px;
}

.link {
  stroke: #BBB;
  stroke-opacity: 0.3;
}

.link.highlighted {
  stroke: #555;
  stroke-opacity: 0.6;
}

.link.hidden {
  /*stroke-opacity: 0.1;*/
}

.node.selected {
  stroke: #fff;
  stroke-width: 3px;
}

#timer {
  width: 100%;
}

.vis-wrapper {
  height: 100%;
  margin-left: 350px;
}

.vis-cover {
  z-index: 500;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.2);
  margin-left: 350px;
  pointer-events: none;
}


#vis {
  position: relative;
  width: 100%;
  height: 100%;
}

.sidebar {
  position: fixed;
  width: 350px;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(240,240,240);
  -webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.1);
  padding: 15px;
}

.node-list-wrapper {
  overflow-y: scroll;
  background-color: rgb(245,245,245);
  border: 1px solid #DDD;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 125px;
}

.node-ul {
  box-sizing: border-box;
  padding: 0 5px;
  list-style: none;
  width: 33.3%;
  float: left;
  font-size: 12px;
}

.node-li {
  cursor: pointer;
  padding: 3px;
}

.node-li:hover {
  background-color: rgb(235,235,235);
}

.node-li.g1 {
  color: rgb(31,119,180);
}

.node-li.g2 {
  color: rgb(255,127,14);
}

.node-li.g3 {
  color: rgb(156,158,222);
}

.node-li.selected {
  background-color: rgb(230,230,230);
}

.node-li.selected:hover {
  background-color: rgb(220,220,220);
}