<!DOCTYPE HTML>
<html>
<head>

   <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108870928-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-108870928-1');
  </script>

  <link href='https://fonts.googleapis.com/css?family=Raleway:300,500,500italic,700,700italic,300italic|Roboto+Condensed:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

  <link rel="stylesheet" href="%% url_for('static', filename='style.css') %%">



  <title> C.elegans Neural Interactome </title>
  <!-- // <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
  <!-- // script src="https://cdn.socket.io/socket.io-1.4.5.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.min.js"></script>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

  <script type="text/javascript" src="%% url_for('static', filename='app.js') %%"></script>
  <script type="text/javascript" src="%% url_for('static', filename='networkService.js') %%"></script>
  <script type="text/javascript" src="%% url_for('static', filename='animationService.js') %%"></script>
  <script type="text/javascript" src="%% url_for('static', filename='menuController.js') %%"></script>
  <script type="text/javascript" src="%% url_for('static', filename='navController.js') %%"></script>
  <script type="text/javascript" src="%% url_for('static', filename='slider.js') %%"></script>
  <script type="text/javascript" src="%% url_for('static', filename='forceDiagram.js') %%"></script>
  <script type="text/javascript" src="%% url_for('static', filename='timeline.js') %%"></script>
  <script type="text/javascript" src="%% url_for('static', filename='dynPlot.js') %%"></script>
  <!-- // <script type="text/javascript" src="%% url_for('static', filename='script.js') %%"></script> -->

</head>
<body ng-app="App">

  <navbar class="navbar" ng-controller="navController">
    <h3>C.elegans Neural Interactome <small>V3.0.0-beta</small></h3>
    <ul class="controls" >
      <li ng-click="start()" ng-hide="isPaused() || isRunning()">
        <img src="%% url_for('static', filename='images/ic_play_arrow_black_24px.svg') %%"/></li>
      <li ng-click="resume()" ng-hide="!isPaused()">
        <img src="%% url_for('static', filename='images/ic_play_arrow_black_24px.svg') %%"/></li>
      <li ng-click="pause()" ng-show="isRunning() && !isPaused()">
        <img src="%% url_for('static', filename='images/ic_pause_black_24px.svg') %%"/></li>
      <li ng-click="stop()">
        <img src="%% url_for('static', filename='images/ic_stop_black_24px.svg') %%"/></li>
      <li ng-click="reset()">
        <img src="%% url_for('static', filename='images/ic_replay_black_24px.svg') %%"/></li>
      </li>
    </ul>
    <ul class="menu">
      <!-- <li>Visualization</li> -->
      <li ng-click="toggleConnectome('gap')">
        <i class="material-icons radio">radio_button_{{linkOptions.gap.active ? "" : "un"}}checked</i>
        Gap
      </li>
      <li ng-click="toggleConnectome('chem')">
        <i class="material-icons radio">radio_button_{{linkOptions.chem.active ? "" : "un"}}checked</i>
        Chem
      </li>
      <li ng-click="legend=!legend">User Guide and Legend</li>
    </ul>
    <div class="full-overlay" ng-show="legend" ng-click="legend = false">
      <section class="text-content">

        <h2>Legend</h2>
        <img style="width:50%;margin:30px auto;display:block" src="%% url_for('static', filename='images/legend.svg') %%"/></li>

        <h2>User Guide</h2>
        <p>To inject/change the stimuli into neurons, use the left panel to locate the neurons and adjust the scrollable bar to set the input magnitude</p>
        <p><b>Play</b> button initiates the simulation with user provided stimuli/ablation configurations. You can pause the stimulation anytime by clicking the pause button</p>
        <p><b>Stop</b> button stops the simulation and resets the graph, but preserves the input stimuli parameters as well as any ablated neurons</p>
        <p><b>Reset</b> button completely resets all the parameters as well as the graph. Use this to start a fresh new simulation</p>
        <p>To ablate particular neuron, click on either the neuron label on the left panel or the node on the graph while holding down the <b>Shift</b> key</p>
        <p>Use the clickable time bar during the simulation to freely review the dynamics</p>
        <p>You can save particular stimulation/ablation configuration on the left panel by entering the name and pressing <b>SAVE</b> button. The saved presets can then be loaded from <b>LOAD</b> drop-down menu</p>

      </section>
    </div>
  </navbar>

  <div class="content-block" ng-show="false">
  <!-- SOME STUFF HERE -->
  </div>

  <div class="content-block" ng-show="true">

    <div class="vis-wrapper" force-diagram timeline>
      <!-- <canvas class="vis" force-diagram></canvas> -->
    </div>

    <div class="sidebar" ng-controller="menuController">

      <div class="node-list-wrapper">
        <div class="save-menu">

          <dropdown title="Load" opts="load.list" on-select="load.submit" on-remove="load.delete"></dropdown>

          <span class="save" style="float:right;">
            <input ng-model="save.name" placeholder="preset name"><button ng-click="save.submit()" ng-disabled="save.name.length < 1">Save</button>
          </span>

        </div>

        <ul class="node-ul"
          ng-repeat="nodeGroup in nodeGroups() | orderBy:reorderGroup">
          <li class="node-li"
            ng-repeat="node in nodeGroup.values | orderBy:'name'"
            ng-click="liClick(node, $event)"
            ng-mouseover="hoverStart(node)"
            ng-mouseleave="hoverEnd(node)"
            ng-class="[{selected: node.selected, deactivated: !node.activated, hover: node.hovered}, 'g' + node.group]">
            {{node.name}}
            <span style="float:right">{{node.inputCurrent*10 | number:1}} nA</span>
            <canvas slider class="slider" ng-if="node.selected"
              input-current="node.inputCurrent"
              visible="node.selected"
              commit-change="newVoltage(node.inputCurrent, node.index)">
            </canvas>
          </li>
        </ul>
      </div>


      <div class="overlay no-click connection-list" ng-hide="!hoveredConnections().name">
        <h4 class="header" >{{hoveredConnections().name}}</h4>
        <h5 class="subheader">{{hoveredConnections().voltage | number:4}} mV</h5>
        <ul>
          <li ng-repeat="conn in hoveredConnections().connections | orderBy : ['group', 'name']" ng-class="'g' + conn.group">
            {{conn.name.trim()}}
          </li>
        </ul>
      </div>

      <div class="popup no-click" id="chartContainer" ng-hide="!hoveredConnections().name"; dyn-plot>
      </div>

      <div class="overlay opaque no-click" ng-if="isBuffering()">
        <div class="cover">
      <!--     <div class="spinner" ng-show="isPaused()">
            <h2>{{pauseMessage()}}</h2>
          </div> -->
          <div class="spinner" ng-hide="isPaused()">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
        </div>
      </div>

      <div class="info-panel">
        <h3 id="hovered"></h3>
        <ul id="hovered-connections" class="connections">
        </ul>
      </div>

    </div>




  </div>


</body>
</html>
